<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label class="col-xs-4 control-label" for="">Order name: </label>
    <div class="col-xs-8">
      <input *ngIf = "product_id" type="hidden" name="product_id" [(ngModel)]="order.product_id" [value]="order.product_id" >
      <input type="text" style="width: 300px" class="form-control" required
            [(ngModel)]="order.reference" name="orderName">
    </div>
    <div>
      <input type="submit" value="Add" />
    </div>        
  </div>
</form>
