<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label class="col-xs-4 control-label" for="">Product name: </label>
    <div class="col-xs-8">
      <input type="text" style="width: 300px" class="form-control" required
            [(ngModel)]="product.name" name="productName">
    </div>
    <div>
      <input type="submit" value="Create" />
    </div>        
  </div>
</form>
<div class="row" >
  <div class="col-md-6 col-md-offset-6 " >
    <a class="add_product" routerLink="/products">Back to list</a>
  </div>
</div>