<div class="panel panel-default" style="margin-top:10px;">
  <div class="panel-heading">
      Selected Product
  </div>
  <div class="row" >
    <div class="col-md-6 col-md-offset-6 " >
      <a class="add_product" routerLink="orders/add">Add</a> Orders for this product
    </div>
  </div>
  <div class="panel-body" style="position:relative">
    <div>
      <h1>{{product.name | uppercase }}</h1>
    </div>
  </div>
  <h2>Orders for this product :</h2>
  <ul>
    <li *ngFor = "let order of orders" >
      <p>{{order.reference}}</p>
    </li>
  </ul>

</div>