<div class="panel panel-default" style="margin-top:10px;">
  <div class="panel-heading">
      Products
  </div>
  <div class="row" >
    <div class="col-md-6 col-md-offset-6 " >
      <a class="add_product" routerLink="/products/add">Add Products</a>
    </div>
  </div>
  <div class="panel-body" style="position:relative">
    <ul>
      <li *ngFor="let product of products" >
        <a (click)="select(product['id'])">{{product.name}}</a>
        <div class="actions" >
          <button (click)="delete(product['id'])">delete</button>
          <button (click)="update(product['id'])">update</button>
        </div>
      </li>
    </ul>
  </div>
</div>