<flash-messages></flash-messages>
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-6 col-xl-5 mx-auto">
      <div class="card mt-5 mb-3 rounded shadow px-2">
        <div class="card-body">
          <h2 class="card-title text-center bold text-info mb-2">Sign up</h2>
          <form (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label class="mb-1" for="">Email: </label>
                <input type="text" class="form-control" required
                        [(ngModel)]="user.email" name="user_email">
              </div>
              <div class="form-group">
                <label class="mb-1" for="">Password: </label>
                <input type="password" class="form-control" required
                        [(ngModel)]="user.password" name="user_password">
              </div>
              <div class="form-group mt-3">
                <input type="submit" value="Login" class="btn btn-lg btn-outline-success btn-block" />
              </div>        
            </form>
            <button (click) = "create" >create</button>
        </div>
      </div>
    </div>
  </div>
</div>