<div class="navbar-fixed">
  <nav  role="navigation">
    <div class="nav-wrapper blue ">
      <a [routerLink]="['']" id="logo-container" class="brand-logo">Rails & Angular Auth</a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/sign_in">LOGIN</a></li>
        <li> <a>REGISTER</a></li>
        <li> <a >PROFILE</a></li>
        <li> <a >LOGOUT</a></li>
      </ul>
    </div>
  </nav>
</div>