<div class="container">
    <app-toolbar></app-toolbar>
  <h2>Welcome to my app</h2>

  <div class="panel panel-primary">
    <div class="panel-heading" style="background: greenyellow;">
      <ul> 
        <li><a routerLink="/products">Products</a></li>
        <li><a routerLink="/orders">Orders</a></li>
        <li><a routerLink="/customers">Customers</a></li>
        <li><a routerLink="/orders/add">Add Orders</a></li>
        <li><a routerLink="/customers/add">Add Customers</a></li>
      </ul>
    </div>
    <div class="panel-body">
    </div>
  </div>
</div>
<router-outlet></router-outlet>
